unpackaged/main/default/flows/Account_After_Insert_Update_Record_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Zoey_Account</name>
        <label>Create Zoey Account</label>
        <locationX>171</locationX>
        <locationY>431</locationY>
        <actionName>CreateZoeyAccount</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Account_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateZoeyAccount</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Xero_Contact</name>
        <label>Update Xero Contact</label>
        <locationX>611</locationX>
        <locationY>647</locationY>
        <actionName>UpdateXeroContact</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Account_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>acctIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateXeroContact</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_contact_to_list</name>
        <label>Add contact to list</label>
        <locationX>138</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>ContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_child_contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_child_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Make_Contact_Inactive</name>
        <label>Make Contact Inactive</label>
        <locationX>138</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>Loop_child_contacts.Inactive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_contact_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Type</name>
        <label>Check Account Type</label>
        <locationX>380</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_type_is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Contacts</targetReference>
            </connector>
            <label>Account type is Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Child_contact_records</name>
        <label>Check Child contact records</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contact_records_successfully_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Contacts</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Loop_child_contacts</targetReference>
            </connector>
            <label>contact records successfully found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Field_Action</name>
        <label>Check Field Action</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Set_Xero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_set_to_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zoey_Account_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Zoey_Account</targetReference>
            </connector>
            <label>Type set to Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Xero_Info_Changed</name>
        <label>Check Xero Info Changed</label>
        <locationX>743</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Xero_Info_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Xero_Contact</targetReference>
            </connector>
            <label>Xero Info Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Xero</name>
        <label>Set Xero</label>
        <locationX>589</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Xero_Info_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ignore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zoey_Account_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zoey_Account_Created__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_Type</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
    </decisions>
    <description>Added contact to be made inactive when account type set to closed</description>
    <environments>Default</environments>
    <interviewLabel>Account After Insert / Update Record Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account After Insert / Update Record Trigger Flow</label>
    <loops>
        <name>Loop_child_contacts</name>
        <label>Loop child contacts</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <collectionReference>Get_Child_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Make_Contact_Inactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Contacts</name>
        <label>Get Child Contacts</label>
        <locationX>182</locationX>
        <locationY>1115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Child_contact_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_List</name>
        <label>Update Contact List</label>
        <locationX>50</locationX>
        <locationY>1739</locationY>
        <inputReference>ContactList</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Field_Action</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
