unpackaged/main/default/flows/Add_Invoice_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Post_to_Chatter</name>
        <label>New Post to Chatter</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>noteText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>uInvoice.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uInvoice.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Note</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uInvoice.Last_Invoice_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice_0</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>hoursFormula</name>
        <dataType>Number</dataType>
        <expression>IF(
  OR(
    VALUE( MID( TEXT( {!$Flow.CurrentDateTime} ), 12, 2 ) ) = 0,
    VALUE( MID( TEXT( {!$Flow.CurrentDateTime} ), 12, 2 ) ) = 12
  ),
  12,
  VALUE( MID( TEXT( {!$Flow.CurrentDateTime} ), 12, 2 ) ) 
   - 
   IF( 
     VALUE( MID( TEXT( {!$Flow.CurrentDateTime} ), 12, 2 ) ) &lt; 12, 
     0, 
     12 
   )
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Add Invoice Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Invoice Note</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Xero_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_0</name>
        <label>Update Invoice</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>New_Post_to_Chatter</targetReference>
        </connector>
        <inputReference>uInvoice</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Add_Note</name>
        <label>Add Note</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Invoice</targetReference>
        </connector>
        <fields>
            <name>Note</name>
            <fieldText>Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>noteText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Invoice Notes updated @ {!$Flow.InterviewStartTime}:

{!Note}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Xero_Invoice__c</objectType>
    </variables>
</Flow>
