unpackaged/main/default/flows/Add_Task_Method.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assignment010_Single_Task</name>
        <label>Assignment010 Single Task</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>TaskSingleRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskSingleRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DatePlusOne</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskSingleRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskSingleRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputTaskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskSingleRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputOwnerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment020_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment020_Add_to_Collection</name>
        <label>Assignment020 Add to Collection</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>TaskCollectionRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskSingleRecord</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>DatePlusOne</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <interviewLabel>Add Task Method {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Task Method</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment010_Single_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskCollectionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
