unpackaged/main/default/flows/Cost_Centre_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Check if account lookup relationship is NULL</description>
        <name>Decision010_Account_Lookup_NULL</name>
        <label>Decision010 Account Lookup NULL?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Account Record is NOT NULL</defaultConnectorLabel>
        <rules>
            <name>Account_Lookup_is_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get010_AccountID</targetReference>
            </connector>
            <label>Account Lookup is NULL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Cost Centre After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cost Centre After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get account ID to create the lookup relationship</description>
        <name>Get010_AccountID</name>
        <label>Get010 AccountID</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update010_Account_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ZoeyAccountCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountCode__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update cost centre with the account lookup relationship</description>
        <name>Update010_Account_Lookup</name>
        <label>Update010 Account Lookup</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get010_AccountID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision010_Account_Lookup_NULL</targetReference>
        </connector>
        <object>CostCentre__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
