unpackaged/main/default/flows/Invoice_After_Create_Update_Record_Trigger_Flow_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Oldest_Unpaid_Invoice</name>
        <label>Assign Oldest Unpaid Invoice</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>OldestUnpaidInvoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Invoice.Invoice_Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Over_Due</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Due</name>
        <label>Assign Total Due</label>
        <locationX>270</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>TotalDue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Invoice.Amount_Due__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Over_Due</name>
        <label>Assign Total Over Due</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>TotalOverdue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Invoice.Amount_Due__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Due</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account</name>
        <label>Check Account</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Invoices</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Over_Due</name>
        <label>Check if Over Due</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Assign_Total_Due</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Over_Due</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Invoice.Invoice_Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Invoice.Amount_Due__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_Over_Due</targetReference>
            </connector>
            <label>Is Over Due</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Oldest_Unpaid_Invoice</name>
        <label>Check Oldest Unpaid Invoice</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Check_if_Over_Due</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Oldest_Unpaid_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OldestUnpaidInvoice</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Invoice.Amount_Due__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Oldest_Unpaid_Invoice</targetReference>
            </connector>
            <label>Is Oldest Unpaid Invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Invoice</name>
        <label>Check Related Invoice</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Related_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Invoices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Invoice</targetReference>
            </connector>
            <label>Has Related Invoice</label>
        </rules>
    </decisions>
    <description>AF Edits to Total Due to make it = Total of Amount Due not accounting for Due Date but accounting for anything Paid towards the total.</description>
    <environments>Default</environments>
    <interviewLabel>Invoice After Create / Update Record Trigger Flow V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice After Create / Update Record Trigger Flow V2</label>
    <loops>
        <name>Loop_Invoice</name>
        <label>Loop Invoice</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Related_Invoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Oldest_Unpaid_Invoice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Invoices</name>
        <label>Get Related Invoices</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Related_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Xero_Invoice__c</object>
        <sortField>Invoice_Due_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Oldest_Unpaid_Invoice__c</field>
            <value>
                <elementReference>OldestUnpaidInvoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Due__c</field>
            <value>
                <elementReference>TotalDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Overdue__c</field>
            <value>
                <elementReference>TotalOverdue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account</targetReference>
        </connector>
        <object>Xero_Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>OldestUnpaidInvoice</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalDue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalOverdue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
