unpackaged/main/default/flows/Opportunity_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Decision010_Has_Stage_Changed</name>
        <label>Decision010 Has Stage Changed?</label>
        <locationX>1007</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Stage Has Not Changed</defaultConnectorLabel>
        <rules>
            <name>Stage_Has_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision020_Which_New_Stage</targetReference>
            </connector>
            <label>Stage Has Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision020_Which_New_Stage</name>
        <label>Decision020 Which New Stage?</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Stage_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision030_New_Lead_Requested</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Closed/Lost</label>
        </rules>
        <rules>
            <name>Stage_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision040_Is_Account_Prospect</targetReference>
            </connector>
            <label>Stage Closed/Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision030_New_Lead_Requested</name>
        <label>Decision030 New Lead Requested?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>New Lead Not Requested</defaultConnectorLabel>
        <rules>
            <name>New_Lead_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreateNewLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create010_Lead</targetReference>
            </connector>
            <label>New Lead Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision040_Is_Account_Prospect</name>
        <label>Decision040 Is Account Prospect?</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Account Not Prospect</defaultConnectorLabel>
        <rules>
            <name>Account_Is_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update010_Account</targetReference>
            </connector>
            <label>Account Is Prospect</label>
        </rules>
    </decisions>
    <description>Temporary flow without tasks upon closed/won Except Update010 Account- Client requested whilst process is cleansed.</description>
    <environments>Default</environments>
    <formulas>
        <name>DatePlusOne</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <interviewLabel>Opportunity After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create010_Lead</name>
        <label>Create010 Lead</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Account.BillingAddressLine2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Account.BillingAddressLine4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Account.EmailAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.LeadFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LeadLastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Closed/Lost Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextScheduledContactDate__c</field>
            <value>
                <elementReference>$Record.NewLeadContactDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>$Record.Account.NumberOfEmployees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Account.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Account.BillingAddressPostcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousOpportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>$Record.LeadSalutation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.Account.BillingAddressLine3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Account.BillingAddressLine1__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update010_Account</name>
        <label>Update010 Account</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision010_Has_Stage_Changed</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskSingularRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
