unpackaged/main/default/flows/Screenflow_Add_product_To_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assignmen010_Single_Product</name>
        <label>Assignmen010 Single Product</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ProductMatrixSingleRecord.Category1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop010_Category1.Category1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment020_Product_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment020_Product_Collection</name>
        <label>Assignment020 Product Collection</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ProductMatrixCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductMatrixSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment030_Update_Loop_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment030_Update_Loop_Value</name>
        <label>Assignment030 Update Loop Value</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>LastLoopValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop010_Category1.Category1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop010_Category1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment040_Cleanse_Variables</name>
        <label>Assignment040 Cleanse Variables</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ProductMatrixCollection</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastLoopValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get020_Category_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment050_Single_Product</name>
        <label>Assignment050 Single Product</label>
        <locationX>264</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>ProductMatrixSingleRecord.Category2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop020_Category2.Category2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment060_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment060_Add_to_Collection</name>
        <label>Assignment060 Add to Collection</label>
        <locationX>264</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>ProductMatrixCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductMatrixSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment070_Last_Loop_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment070_Cleanse_Variables</name>
        <label>Assignment070 Cleanse Variables</label>
        <locationX>176</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>ProductMatrixCollection</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastLoopValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get030_Category3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment070_Last_Loop_Value</name>
        <label>Assignment070 Last Loop Value</label>
        <locationX>264</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>LastLoopValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop020_Category2.Category2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop020_Category2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment080_Single_Product</name>
        <label>Assignment080 Single Product</label>
        <locationX>264</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>ProductMatrixSingleRecord.Category3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop030_Category_3.Category3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment090_Product_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment090_Product_Collection</name>
        <label>Assignment090 Product Collection</label>
        <locationX>264</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>ProductMatrixCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductMatrixSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment100_Last_Loop_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment100_Last_Loop_Value</name>
        <label>Assignment100 Last Loop Value</label>
        <locationX>264</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>LastLoopValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop030_Category_3.Category3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop030_Category_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment110_Cleanse_Variables</name>
        <label>Assignment110 Cleanse Variables</label>
        <locationX>176</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>ProductMatrixCollection</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastLoopValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get040_Product_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment120_Single_Product</name>
        <label>Assignment120 Single Product</label>
        <locationX>264</locationX>
        <locationY>3974</locationY>
        <assignmentItems>
            <assignToReference>ProductMatrixSingleRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop040_Product.Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment130_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment130_Collection</name>
        <label>Assignment130 Collection</label>
        <locationX>264</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>ProductMatrixCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductMatrixSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment140_Last_Loop_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment140_Last_Loop_Value</name>
        <label>Assignment140 Last Loop Value</label>
        <locationX>264</locationX>
        <locationY>4214</locationY>
        <assignmentItems>
            <assignToReference>LastLoopValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop040_Product.Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop040_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision010_New_Value</name>
        <label>Decision010 New Value</label>
        <locationX>396</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Loop010_Category1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New Value</defaultConnectorLabel>
        <rules>
            <name>New_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastLoopValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop010_Category1.Category1__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignmen010_Single_Product</targetReference>
            </connector>
            <label>New Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision020_New_Value</name>
        <label>Decision020 New Value</label>
        <locationX>396</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Loop020_Category2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New Value</defaultConnectorLabel>
        <rules>
            <name>New_Value2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop020_Category2.Category2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LastLoopValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment050_Single_Product</targetReference>
            </connector>
            <label>New Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision030_New_Value</name>
        <label>Decision030 New Value?</label>
        <locationX>396</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <targetReference>Loop030_Category_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New Value</defaultConnectorLabel>
        <rules>
            <name>New_Value3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastLoopValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop030_Category_3.Category3__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment080_Single_Product</targetReference>
            </connector>
            <label>New Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision040_New_Value</name>
        <label>Decision040 New Value?</label>
        <locationX>396</locationX>
        <locationY>3854</locationY>
        <defaultConnector>
            <targetReference>Loop040_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New Value</defaultConnectorLabel>
        <rules>
            <name>New_Value4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop040_Product.Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LastLoopValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment120_Single_Product</targetReference>
            </connector>
            <label>New Value</label>
        </rules>
    </decisions>
    <description>Screen flow to utilise the product matrix to select products for the opportunity</description>
    <dynamicChoiceSets>
        <name>Category1ChoiceSet</name>
        <collectionReference>ProductMatrixCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Category1__c</displayField>
        <object>ProductMatrix__c</object>
        <valueField>Category1__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Category2ChoiceSet</name>
        <collectionReference>ProductMatrixCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Category2__c</displayField>
        <object>ProductMatrix__c</object>
        <valueField>Category2__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Category3ChoiceSet</name>
        <collectionReference>ProductMatrixCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Category3__c</displayField>
        <object>ProductMatrix__c</object>
        <valueField>Category3__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductChoiceSet</name>
        <collectionReference>ProductMatrixCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Product__c</displayField>
        <object>ProductMatrix__c</object>
        <valueField>Product__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>TotalPrice</name>
        <dataType>Number</dataType>
        <expression>{!Quantity} * {!Unit_Price}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Screenflow - Add product To Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow - Add product To Opportunity</label>
    <loops>
        <name>Loop010_Category1</name>
        <label>Loop010 Category1</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get010_Category_1_Values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision010_New_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Category_1_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop020_Category2</name>
        <label>Loop020 Category2</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <collectionReference>Get020_Category_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision020_New_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Category2_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop030_Category_3</name>
        <label>Loop030 Category 3</label>
        <locationX>176</locationX>
        <locationY>2582</locationY>
        <collectionReference>Get030_Category3</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision030_New_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Category_3_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop040_Product</name>
        <label>Loop040 Product</label>
        <locationX>176</locationX>
        <locationY>3734</locationY>
        <collectionReference>Get040_Product_Name</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision040_New_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Product_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create010_Product</name>
        <label>Create010 Product</label>
        <locationX>176</locationX>
        <locationY>5006</locationY>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AgreedUnitPrice__c</field>
            <value>
                <elementReference>Unit_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category1__c</field>
            <value>
                <elementReference>Get050_Product_Matrix_Record.Category1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category2__c</field>
            <value>
                <elementReference>Get050_Product_Matrix_Record.Category2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category3__c</field>
            <value>
                <elementReference>Get050_Product_Matrix_Record.Category3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductMatrix__c</field>
            <value>
                <elementReference>Get050_Product_Matrix_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductName__c</field>
            <value>
                <elementReference>Get050_Product_Matrix_Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductType__c</field>
            <value>
                <elementReference>Get050_Product_Matrix_Record.ProductType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Retail_Price__c</field>
            <value>
                <elementReference>Get050_Product_Matrix_Record.RRP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tariff__c</field>
            <value>
                <elementReference>Get050_Product_Matrix_Record.Tariff__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZoeyTariffID__c</field>
            <value>
                <elementReference>Get050_Product_Matrix_Record.ZoeyTariffID__c</elementReference>
            </value>
        </inputAssignments>
        <object>ProductAndService__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get010_Category_1_Values</name>
        <label>Get010 Category 1 Values</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop010_Category1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductMatrix__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Category1__c</queriedFields>
        <sortField>Category1__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get020_Category_2</name>
        <label>Get020 Category 2</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop020_Category2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Category1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pick_Category_1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductMatrix__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Category2__c</queriedFields>
        <sortField>Category2__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get030_Category3</name>
        <label>Get030 Category3</label>
        <locationX>176</locationX>
        <locationY>2462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop030_Category_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Category1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pick_Category_1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Category_2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductMatrix__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Category3__c</queriedFields>
        <sortField>Category3__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get040_Product_Name</name>
        <label>Get040 Product Name</label>
        <locationX>176</locationX>
        <locationY>3614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop040_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Category1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pick_Category_1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Category_2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Category_3</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductMatrix__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <sortField>Product__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get050_Product_Matrix_Record</name>
        <label>Get050 Product Matrix Record</label>
        <locationX>176</locationX>
        <locationY>4646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Category1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pick_Category_1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Category_2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Category_3</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Service</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductMatrix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Category2_Selection</name>
        <label>Category2 Selection</label>
        <locationX>176</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment070_Cleanse_Variables</targetReference>
        </connector>
        <fields>
            <name>Category2Title</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select Category 2 of the product&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Category_2</name>
            <choiceReferences>Category2ChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Category 2</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Category_1_Selection</name>
        <label>Category 1 Selection</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment040_Cleanse_Variables</targetReference>
        </connector>
        <fields>
            <name>Screen1Display</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select Category 1 of the Product&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pick_Category_1</name>
            <choiceReferences>Category1ChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick Category 1</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Category_3_Selection</name>
        <label>Category 3 Selection</label>
        <locationX>176</locationX>
        <locationY>3374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment110_Cleanse_Variables</targetReference>
        </connector>
        <fields>
            <name>ProductCategory3</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select Category 3 of the Product&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Category_3</name>
            <choiceReferences>Category3ChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Category 3</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>176</locationX>
        <locationY>5126</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProductAdded</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;✔&lt;/span&gt;&lt;strong style=&quot;color: rgb(77, 176, 19); font-size: 16px;&quot;&gt;PRODUCT SUCCESSFULLY ADDED&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Confirmation</name>
        <label>Final Confirmation</label>
        <locationX>176</locationX>
        <locationY>4886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create010_Product</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;*** By clicking Next the below product data will be added to the Opportunity ***&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Product Category 1 : {!Pick_Category_1}&lt;/p&gt;&lt;p&gt;Product Category 2 : {!Select_Category_2}&lt;/p&gt;&lt;p&gt;Product Category 3 : {!Select_Category_3}&lt;/p&gt;&lt;p&gt;Product Name : {!Product_Service}&lt;/p&gt;&lt;p&gt;Unit Price : {!Unit_Price}&lt;/p&gt;&lt;p&gt;Quantity : {!Quantity}&lt;/p&gt;&lt;p&gt;Total Price : £{!TotalPrice}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Selected</name>
        <label>Product Selected</label>
        <locationX>176</locationX>
        <locationY>4766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Final_Confirmation</targetReference>
        </connector>
        <fields>
            <name>ProductSelected</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Confirm Price and Quantity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Product Selected&lt;/strong&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;{!Pick_Category_1}&lt;/li&gt;&lt;li&gt;{!Select_Category_2}&lt;/li&gt;&lt;li&gt;{!Select_Category_3}&lt;/li&gt;&lt;li&gt;{!Product_Service}&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Unit_Price</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get050_Product_Matrix_Record.RRP__c</elementReference>
            </defaultValue>
            <fieldText>Unit Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Unit Price Must Be Greater Than / Equal 0&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Unit_Price} &gt;= 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Quantity must be greater than 0&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Quantity} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Selection</name>
        <label>Product Selection</label>
        <locationX>176</locationX>
        <locationY>4526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get050_Product_Matrix_Record</targetReference>
        </connector>
        <fields>
            <name>ProductSelection</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select the Product/Service&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Service</name>
            <choiceReferences>ProductChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product / Service</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get010_Category_1_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Value of last compared string in the loop</description>
        <name>LastLoopValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Product Matrix Collection Record</description>
        <name>ProductMatrixCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductMatrix__c</objectType>
    </variables>
    <variables>
        <description>Product matrix single record</description>
        <name>ProductMatrixSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductMatrix__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
